body {
  background-image: linear-gradient(78deg, #47D1AF 55%, transparent 0%), url("/assets/images/recycle.png");
  background-color: white;
  color: white;
  margin: -21px 0 0 0;
}

.home {
  background-color: #47d1af;
  margin: 0px;
  height: 100vh;
  width: 70vh;
  padding: 90px 10px 0 60px;
}

h1 {
  font-size: +55px;
}

form {
  margin-left: 60px;
  margin-top: 60px;
}

.object {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 66vh;
  height: 4vh;
  border: 1px solid rgba(0, 0, 0, 0.79);
  border-radius: 10px;
}

.cerca{
  display: block;
  margin: auto;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #795548;
  background-color: #78594c;
  color: white;
}

p {
  font-size: 25px;
  margin-right: -130px;
  margin-top: 65px;
}
